
*{
  margin:0;
  padding:0;
}

body, html{
  height:100%;
  width:100%;
}

html{

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  // font-size:62.5%; //1 rem = 10px; 10px/16px = 62.5%

  //fix SAFARI problem with "rem" units
  -webkit-text-size-adjust:none;
}


*,
*::before,
*::after{
  -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
  box-sizing:inherit;
}

ol, ul{
  list-style:none;
}


h1, h2, h3, h4, h5, h6, th{
  font-weight:400;
}


button{
  border:none;
  cursor:pointer;

  &:focus{
    outline:none;
  }
}
