.primary-button{
  background:$primary-blue;
  color:white;
  font-size: 14px;
  padding:9px 18px;
  height: 100%;
  min-width: 70px;
  border-radius: 5px;
  font-family: "Metropolis-Medium";
}

.secondary-button{
  background:white;
  color:$primary-blue;
  border:1px solid $primary-blue;
  font-size: 14px;
  padding:9px 18px;
  height: 100%;
  border-radius: 5px;
  font-family: "Metropolis-Medium";
}
