.calendar-sidebar{



  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

  }
  &__title{
    color:#39475B;
    font-size: 14px;
  }

  &__close-icon{
    cursor: pointer;
  }
}
