.create-item-form{


  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Metropolis-Medium";

  &__header{
    padding:20px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D8D8D8;
    font-size:18px;
  }
  &__body{
    flex:1;
    padding:15px 20px;
    font-size:12px;
    input{
      display: block;
      width:100%;
      margin-top:2px;
    }
    input[type='checkbox'] {
      width:initial;
      display: initial;
      width:16px;
      height: 16px;
    }
    input[type='radio'] {
      width:initial;
      display: initial;
      width:16px;
      height: 16px;
    }
    textarea{
      display:block;
      width: 100%;
      resize: none;
      margin-top:2px;
      height: 80px;
    }
    .input-group{
      margin-top:15px;
    }
  }

  &__footer{
    border-top:1px solid #D8D8D8;
    padding:12px 20px;
    display: flex;
    justify-content: space-between;

    button{
      font-size: 12px;
    }
  }
}
