.create-item-form{



  &__body{

    font-size:12px;
    input{
      display: block;
      width:100%;
      margin-top:2px;
    }
    input[type='checkbox'] {
      width:initial;
      display: initial;
      width:16px;
      height: 16px;
    }
    input[type='radio'] {
      width:initial;
      display: initial;
      width:16px;
      height: 16px;
    }
    textarea{
      display:block;
      width: 100%;
      resize: none;
      margin-top:2px;
      height: 80px;
    }
    .input-group{
      margin-top:15px;
    }
  }

}
