<div class="logo">
  <img src="assets/svg/Group 9917.svg" alt="" />
</div>
<div class="notification" (clickOutside)="isActivePopover = false">
  <img src="assets/svg/Vector-3.svg" alt="" (click)="togglePopover()" />
  <div class="notification__counter" *ngIf="notificationCounter">2</div>
  <app-popover [isActive]="isActivePopover">
    <div class="notification__item" (click)="isActivePopover = false">
      Notification 1
    </div>
    <div class="notification__item" (click)="isActivePopover = false">
      Notification 2
    </div>
  </app-popover>
</div>

<!-- popover -->
<!-- <div class="popover" [class.active]="isActive">
  <ng-content></ng-content>
</div> -->
