<div class="logo">
  <img src="assets/svg/Group 9917.svg" alt="" />
</div>
<div class="notification" (clickOutside)="isActivePopover = false">
  <div click-stop-propagation (click)="togglePopover()">
    <svg-icon
      src="assets/svg/Vector-3.svg"
      [ngStyle]="{ stroke: isActivePopover === false ? '#6C6C6C' : '#1495F0' }"
    ></svg-icon>
    <div class="notification__counter" *ngIf="notificationCounter">2</div>
  </div>

  <app-popover [isActive]="isActivePopover">
    <div class="notification__item" (click)="isActivePopover = false">
      Notification 1
    </div>
    <div class="notification__item" (click)="isActivePopover = false">
      Notification 2
    </div>
  </app-popover>
</div>

<!-- popover -->
<!-- <div class="popover" [class.active]="isActive">
  <ng-content></ng-content>
</div> -->
