<div class="calendar-sidebar__header">
  <div class="calendar-sidebar__title">Calendar</div>
  <div class="calendar-sidebar__close-icon" (click)="clickClose()">
    <img src="assets/svg/Vector-12.svg" alt="" />
  </div>
</div>

<app-calendar-list></app-calendar-list>

<div class="create-meeting">
  <div class="create-meeting__submit">
    <div class="create-meeting__icon">
      <img src="assets/svg/Vector-6.svg" alt="" />
    </div>
    <div class="create-meeting__button-text">Add New Item</div>
  </div>

  <label for="meetingName" class="create-meeting__label">Meeting Name</label>
  <input
    id="meetingName"
    type="text"
    class="focus-input create-meeting__input"
  />

  <label for="meetingName" class="create-meeting__label">Date</label>
  <input
    id="meetingName"
    type="text"
    class="focus-input create-meeting__input"
  />
</div>
