<td
  [ngClass]="{
    approved: item.status === 'Approved',
    rejected: item.status === 'Rejected',
    'in-progress': item.status === 'In Progress'
  }"
>
  <div class="date">
    <div class="date__month">{{ item.date | date : "MMM" | uppercase }}</div>
    <div class="date__day">{{ item.date | date : "d" }}</div>
  </div>
</td>
<td>{{ item.title }}</td>
<td>{{ item.businessUnit }}</td>
<td>
  <img [src]="item.userImg" alt="" *ngIf="item.userImg; else noImage" />
  <ng-template #noImage>
    <div style="width: 46px; display: flex; justify-content: center">--</div>
  </ng-template>
</td>
<td>
  <div class="pulse-table__delay">
    <div class="pulse-table__overdue" *ngIf="item.status === 'Rejected'">
      {{ item.delay }}
    </div>
    <div class="pulse-table__eye">
      <img src="assets/svg/Group-1.svg" alt="" />
    </div>
  </div>
</td>
<td>
  <div
    class="pulse-table__status"
    [ngClass]="{
      'pulse-table__status--approved': item.status === 'Approved',
      'pulse-table__status--rejected': item.status === 'Rejected',
      'pulse-table__status--in-progress': item.status === 'In Progress'
    }"
  >
    {{ item.status }}
  </div>
</td>
