<div class="modal-overlay" (click)="closeCallback()">
  <div click-stop-propagation class="modal">
    <div class="modal__content">
      <div class="modal__header">
        <ng-content select="[header]"></ng-content>
      </div>
      <div class="modal__body">
        <ng-content></ng-content>
      </div>

      <div class="modal__footer">
        <button
          class="pulse-button pulse-button--secondary"
          (click)="closeCallback()"
        >
          Cancel
        </button>
        <ng-content select="[confirmButton]"> </ng-content>
      </div>
    </div>
  </div>
</div>
