<div class="modal-overlay" (click)="closeCallback()">
  <div click-stop-propagation class="modal">
    <div class="modal__content">
      <div class="modal__header">
        <ng-content select="[header]"></ng-content>
      </div>
      <div class="modal__body">
        <ng-content></ng-content>
      </div>

      <div class="modal__footer">
        <button class="secondary-button" (click)="closeCallback()">
          Cancel
        </button>
        <button class="primary-button" form="quickForm" (click)="submitForm()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
