.pulse-table{
  margin-top:50px;
}


.pulse-table{
  border-collapse: separate;
  width:100%;
  border-spacing:0 10px;


  td,th{
    padding-left:10px;
    text-align:left;

  }


tr td:first-child{
    position: relative;
    width: 1%;
    white-space: nowrap;
    &::before{
      content: "";
      position: absolute;
      height:35px;
      width:6px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      left:0;
      top:50%;
      transform:translateY(-50%);
      background:#5CB85C;

    }

    &::after{

      content: "";
      position: absolute;
      height:54px;
      border: 0.7px dashed #CFCFCF;
      right:0;
      top:50%;
      transform:translateY(-50%)

    }
}

tr td:nth-child(4){
  position: relative;
    &::after{


      content: "";
      position: absolute;
      height:54px;
      border: 0.7px dashed #CFCFCF;
      left:-10px;
      top:50%;
      transform:translateY(-50%)

    }
}
tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

  thead tr{
    height:32px;
    background:#F2F2F6;
    font-size:16px;
    font-size:11px;
    font-family: "Metropolis-Medium";
  }

  tbody tr{
    height:80px;
    font-size:14px;
    font-family: "Metropolis-Medium";
  }

  td {
    border: solid 1px #E9E9E9;
    border-style: solid none;
    padding: 10px;
    background-color: white;
  }
  td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align:right;
    padding-right:30px;

  }

}
