.header{
  background: white;
  height:50px;
  width:100%;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 10px;
  z-index: 1;
}


.notification{
  position:relative;

  &__item{
    padding:8px 12px;
    cursor: pointer;
    &:hover{
      background:$primary-blue;
      color:white;
      border-radius: 6px;
    }

    }
  img{
    cursor: pointer;
  }
}
