.left-sidebar{
  width:60px;
  background:$primary-blue;
  color:white;
  font-size:10px;

  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  // justify-content: space-between;
}


  .left-sidebar:first-child{
    // margin-bottom: 70px !important;
  }

.nav-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding:12px;
  cursor: pointer !important;

  svg{
    stroke: white;
  }
  &:first-child{
    margin-bottom:60px;
  }
  // &:hover{
  //   background:white;
  //   color:$primary-blue !important;
  // }
}

.is-active{
  background:white;
  color:$primary-blue !important;

  svg{
    stroke:$primary-blue !important;
  }
}
