.main-container{
  display:flex;
  flex:1;
  position: relative;

  &__content{
    flex:1;
    background: #FBFBFF;

    padding: 20px 45px;

  }
  &__right-sidebar{
    width: 344px;
    // background:gray;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    padding: 20px 24px;
  }
}
