<!-- Toolbar -->
<div class="focus">
  <app-left-sidebar></app-left-sidebar>

  <div class="focus__wrapper">
    <app-header></app-header>
    <div class="main-container">
      <div class="main-container__content">
        <router-outlet></router-outlet>
      </div>
      <div class="collapse-sidebar">
        <img src="assets/svg/Vector-11.svg" alt="" />
      </div>
      <app-calendar-sidebar
        class="main-container__right-sidebar"
        *ngIf="false"
      ></app-calendar-sidebar>
    </div>
  </div>
</div>

<app-modal *ngIf="false"></app-modal>
<!-- <div class="modal-overlay">
  <div class="modal">
    <div class="modal__content">
      <div class="create-item-form__header">Create Quick Item</div>
      <app-create-quick-item-form></app-create-quick-item-form>
      <div class="create-item-form__footer">
        <button class="secondary-button">Cancel</button>
        <button class="primary-button">Submit</button>
      </div>
    </div>
  </div>
</div> -->
