<!-- Toolbar -->
<div class="focus">
  <app-left-sidebar></app-left-sidebar>

  <div class="focus__wrapper">
    <app-header></app-header>
    <div class="main-container">
      <div class="main-container__content">
        <router-outlet></router-outlet>
      </div>
      <div
        class="collapse-sidebar"
        *ngIf="!sidebarIsOpen"
        (click)="showSidebar()"
      >
        <img src="assets/svg/Vector-11.svg" alt="" />
      </div>
      <app-calendar-sidebar
        (closeSidebar)="parentEventHandler($event)"
        class="main-container__right-sidebar"
        *ngIf="sidebarIsOpen"
      ></app-calendar-sidebar>
    </div>
  </div>
</div>

<app-modal *ngIf="modalService.showModal">
  <app-create-quick-item-form></app-create-quick-item-form>
</app-modal>

<app-modal *ngIf="modalService.showLoremModal">
  <app-lorem></app-lorem>
</app-modal>
