<!-- <div class="left-sidebar"> -->
<a class="nav-item nostyle" routerLink="">
  <div>
    <img src="assets/svg/Vector 5.svg" />
  </div>
  <div>Pulse</div>
</a>
<a class="nav-item nostyle" routerLink="meeting">
  <div>
    <img src="assets/svg/Group 12822.svg" />
  </div>
  <div>Meeting</div>
</a>
<a class="nav-item nostyle" routerLink="items">
  <div>
    <img src="assets/svg/Vector.svg" />
  </div>
  <div>Items</div>
</a>
<a class="nav-item nostyle" routerLink="actions">
  <div>
    <img src="assets/svg/Vector-2.svg" />
  </div>
  <div>Actions</div>
</a>
<!-- </div> -->
