<!-- <div class="left-sidebar"> -->
<a
  class="nav-item nostyle"
  routerLink=""
  routerLinkActive="is-active"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <div>
    <svg-icon src="assets/svg/Vector 5.svg"></svg-icon>
  </div>
  <div>Pulse</div>
</a>
<a class="nav-item nostyle" routerLink="meeting" routerLinkActive="is-active">
  <div>
    <svg-icon src="assets/svg/Group 12822.svg"></svg-icon>
  </div>
  <div>Meeting</div>
</a>
<a class="nav-item nostyle" routerLink="items" routerLinkActive="is-active">
  <div>
    <svg-icon src="assets/svg/Vector.svg"></svg-icon>
  </div>
  <div>Items</div>
</a>
<a class="nav-item nostyle" routerLink="actions" routerLinkActive="is-active">
  <div>
    <svg-icon src="assets/svg/Vector-2.svg"></svg-icon>
  </div>
  <div>Actions</div>
</a>
<!-- </div> -->
