<h3 class="pulse__title">Waiting your Action</h3>
<div class="pulse__quick-section">
  <div class="card-wrapper">
    <div class="card">
      <div>
        <div class="card__icon">
          <img src="assets/svg/Group 12822.svg" />
        </div>
        <div class="card__name">Meetings</div>
      </div>

      <div class="card__number">23</div>
    </div>

    <div class="card">
      <div>
        <div class="card__icon">
          <img src="assets/svg/Vector-7.svg" />
        </div>
        <div class="card__name">Meetings</div>
      </div>

      <div class="card__number">23</div>
    </div>

    <div class="card">
      <div>
        <div class="card__icon">
          <img src="assets/svg/Vector-8.svg" />
        </div>
        <div class="card__name">Meetings</div>
      </div>

      <div class="card__number">23</div>
    </div>

    <div class="card">
      <div>
        <div class="card__icon">
          <img src="assets/svg/Vector-9.svg" />
        </div>
        <div class="card__name">Meetings</div>
      </div>

      <div class="card__number">23</div>
    </div>
    <div class="card">
      <div>
        <div class="card__icon">
          <img src="assets/svg/Vector-10.svg" />
        </div>
        <div class="card__name">Meetings</div>
      </div>

      <div class="card__number">23</div>
    </div>
  </div>
  <button class="primary-button">+ Quick Item</button>
</div>

<table class="pulse-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Business Unit</th>
      <th>With User</th>
      <th>Delay</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>Kangal / Coil</td>
    </tr>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>Kangal / Coil</td>
    </tr>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>Kangal / Coil</td>
    </tr>
  </tbody>
</table>
