<h3 class="pulse__title">Waiting your Action</h3>
<div class="pulse__quick-section">
  <div class="card-wrapper">
    <app-pulse-info-card *ngFor="let info of dashboardInfos" [info]="info">
    </app-pulse-info-card>
  </div>
  <button class="primary-button" (click)="modalService.showModal = true">
    + Quick Item
  </button>
</div>

<app-pulse-table></app-pulse-table>

<div class="pulse__cards">
  <app-card-item
    title="Tasks you initiated"
    subtitle="Stay tuned with task you initiated"
    [cards]="tasks"
  ></app-card-item>
  <app-card-item
    class="pulse-card--overdue"
    title="Overdue Actions"
    subtitle="You’ re late, hurry up!"
    [cards]="actions"
  ></app-card-item>
</div>
