<table class="pulse-table" *ngIf="items.length">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Business Unit</th>
      <th>With User</th>
      <th>Delay</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr app-item-row *ngFor="let item of items" [item]="item"></tr>
    <!-- <tr>
      <td>
        <div>APR</div>
        <div>9</div>
      </td>
      <td>Item Title Item Title Item Title</td>
      <td>Business Unit Busines ...</td>
      <td>
        <img src="assets/images/Ellipse 359.png" alt="" />
      </td>
      <td>1d Overdue</td>
      <td>Kangal / Coil</td>
    </tr>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>Kangal / Coil</td>
    </tr>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>aa</td>
    </tr>
    <tr>
      <td>CES-9000</td>
      <td>CES-9000</td>
      <td>50mt</td>
      <td>9mm</td>
      <td>1/2"</td>
      <td>Kangal / Coil</td>
    </tr> -->
  </tbody>
</table>
